/* src/problems/TwoSumProblem.css */

.problem-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  input {
    padding: 5px;
    margin-left: 5px;
    width: 150px;
  }
  
  .generate-button {
    padding: 8px;
    background-color: #28a745; /* Green color for the "Generate Array" button */
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .generate-button:hover {
    background-color: #218838;
  }
  
  .visualization {
    margin-top: 20px;
  }
  
  .error {
    color: red;
  }

  .step-navigation {
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .step-button {
    padding: 8px 16px;
    font-size: 14px;
    margin: 0;
  }
  
  .step-indicator {
    font-size: 16px;
    font-weight: bold;
  }
  
  .matching-message-container {
    margin-top: 5px; /* Adjust the margin-top value as needed */
  }

  .matching-message-text {
    font-size: 18px;
    font-weight: bold;
  }

  .description {
    justify-content: center;
  }